footer.footer.mt-0
  .container.text-center.text-light
    div.d-inline.mx-2 Created by Daniel White
    a.text-light.mx-2.d-inline(href="https://github.com/whitedann/pilcrow-web") GitHub project
    div.d-inline.mx-2 pilcrow-web.com
    div.d-inline.mx-2 Copyright Daniel White
