footer.footer.mt-0
  .container.text-center.text-light
    div Created by Daniel White
    a.text-light(href="https://github.com/whitedann/pilcrow-web") GitHub project
    div pilcrow-web.com
    div Copyright Daniel White
