extends layout

block content
  .container.px-0
    .jumbotron.bg-light-purp.text-center.mt-4
      .display-4.handwritten.big-text Write with Pilcrow!
      blockquote.blockquote
        .font-italic.quote.mt-5.mb-1 When you need to innovate, you need collaboration.
        footer.mt-0.blockquote-footer.text-dark.font-italic Marissa Mayer
      .lead.my-5.text-formal Pilcrow is a simple collaborative writing app.
      .lead.mt-5.text-formal Take turns adding excerpts to a bigger story.
      .lead.my-0.text-formal Read what others have created.
      a(href="/register")
        btn.btn.btn-lg.btn-success.mt-5 Get Started With Pilcrow
      p.mt-2.font-italic (It's free!)
  .container
    .jumbotron.row.bg-light-blue
      .col-md-5.m-auto
        .display-4.handwritten.text-center Choose Your Starting Point.
        hr.mt-5
        .lead.mt-5.text-formal Select from a collection of different ongoing(open) threads. Once you've checked out a thread, you have control of the story. You can take the story in any direction you want. But there are some rules...
        hr.mt-5
      .col-md-5.m-auto  
        img(src="../static/res/demo111.png").rounded.img-fluid
  .container
    .jumbotron.row.bg-light-purp
      .col-md-6.my-auto
        img(src="../static/res/rdemo2.png").rounded.img-fluid
      .col-md-4.mx-auto
        .display-4.handwritten.text-center How Will You Contribute?
        hr.mt-5
        .lead.mt-5.text-formal Whoever starts the thread decides how long each entry can be, and how long you have to write. If you take too long, your submission will be lost! Plus, you can only see the most recently added sentence to the thread. 
        hr.mt-5
  .container
    .jumbotron.row.bg-very-light-purp
      .col-md-5.m-auto
        .display-4.handwritten.text-center May The Best Writer Win!
        hr.mt-5
        .lead.mt-5.text-formal Once there are no more entires, everyone can view the completed thread and vote on which contributions they liked or didn't like. The authors with the most likes show up on the leaderboard!
        hr.mt-5
      .col-md-5.m-auto
        img(src="../static/res/rdemo3.png").rounded.img-fluid
