extends layout

block content
  .jumbotron.bg-light-purp.text-center.my-3
    .display-4 Write with Pilcrow!
    blockquote.blockquote
      .font-italic.quote.mt-5.mb-1 When you need to innovate, you need collaboration.
      footer.mt-0.blockquote-footer.text-dark Marissa Mayer
    p.lead.my-5 Pilcrow is a simple collaborative writing app.
    p.lead.my-0 Take turns adding excerpts to a bigger story.
    p.lead.my-0 Read what others have created.
    a(href="/register")
      btn.btn.btn-lg.btn-outline-dark.mt-5 Get Started Writing 
    p.mt-2.font-italic (It's free!)
  .bg-info.text-center.row
      .col-md-5.m-5
        p.lead.mt-5 Write a sentence and submit it to a thread. After one hundred contributions, the thread closes. 
        p.lead.mt-5 The only catch? You can only see the most recently added sentence to the thread. Once a thread closes, you'll be able to read the whole thread. What will it say? Will it be a magical story of wizards and hobbits? A recipe for lemon blueberry pound cake? A dramtic retelling of the dead sea scrolls? Probably just nonsense.
        hr.mt-5
        h5.pt-5 Choose between two different types of writing.
        h3.pt-5 Longform
        p Each turn, add up to 200 characters to a thread.
        h3.pt-5 Bullet
        p Each turn, add a single word to a thread.
      .col-md-5.m-auto
        img(src="../static/res/demo.png" height="500").rounded
