extends layout
  
block content 
  .container
    .row
      .col-md-3
      .col-md-6.p-5.my-4.bg-light-purp.rounded
        h1.mb-4.text-center.tet-formal.font-weight-bold Log in
        p.text-center.forms Not Registered?   
          a.orange(href="/register") Register an account!
        form.text-center(method="POST", action="/login")
          .form-group
            label.inp(for="email")
              input.input(type='text', id='email', placeholder=" ", name='email')
              span.label Email Address
              span.border 
          .form-group
            label.inp(for='password')
              input.input(type='password', id='password', placeholder=' ', name='password')
              span.label Password
              span.border
          button.btn.btn-dark.btn-lg.btn-block.p-4.mt-5.text-formal(type='submit') Log In
      .col-md-3
