extends layout
  
block content 
  .container
    .row
      .col-md-4
        h1 Log In
        form(method="POST", action="/login")
          .form-group
            label(for="email") Email
            input.form-control(type='text', id='email', placeholder='email', name='email')
          .form-group
            label(for='password') Password
            input.form-control(type='password', id='password', placeholder='password', name='password')
          button.btn.btn-secondary(type='submit') Log In
        h5.mt-3 Not Registered?
        a.text-dark(href="/register") Register an account!
      .col-md-8
