nav.navbar.navbar-expand-lg.bg-light.navbar-light
  .container
    if !currentUserId
      a.navbar-brand(href='/').float-left
        img(src="../static/pilcrowbrand.png" height="50")
    else
      a.nav-brand(href='/profile').float-left
        img(src="../static/pilcrowbrand.png" height="50")
    if !currentUserId
      .nav-right
        ul.navbar-nav
          li.nav-item
            span.btn.btn-lg.text-muted Already have an account?
          li.nav-item
            a(href="/login").btn.btn-outline-dark.btn-lg.font-weight-bold Sign In
    else
      ul.navbar-nav
        if timeSinceLastContribution
        li.nav-item.mr-3.mt-auto
          p.text-dark.font-weight-light #{timeSinceLastContribution}
        li.nav-item.mr-3
          a.nav-link(href="/write") 
            h4.text-dark.font-weight-light QuickWrite
        li.nav-item.mr-3
          a.nav-link(href="/threads") 
            h4.text-dark.font-weight-light Dashboard
        li.nav-item.mr-3
          a.nav-link(href="/") 
            h4.text-dark.font-weight-light Learn
        li.nav-item.border-left
          a.nav-link(href="/profile")
            img.avatar(src='../static/res/avatar' + currentAvatarIcon + '.svg').ml-3
        li.nav-item.pl-0
          a.nav-link(href="/profile") 
            h4.text-dark.font-weight-light #{currentUserName}
