extends layout

block content 
  .container
    .row
      .col-md-1
      .col-md-10.mt-5.p-5
        .jumbotron.bg-light-purp.text-center
          i.fas.fa-angry.fa-10x
          .display-4.mb-5.mt-3.font-weight-bold You can't access that page! 
          .h4 ...because you aren't logged in!
          .h4.mt-5 So login!
          .container
            a(href="/login")
              button.btn.btn-lg.btn-success Login
          .h4.mt-5 ...or register!
          .container
            a(href="/register")
              button.btn.btn-lg.btn-success Register
