extends layout

block content
  .container
    .row.bg-light-purp.mx-5.rounded.p-3.my-5.x
      .col-md-3
        .container.mt-3
          .container.bg-light.profile-pic
            img(src='../static/res/avatar' + avatar + '.svg')
          .h5.mt-3.avenir Contributions: #{score}
          .h5.avenir Total Score: 0
        a(href="/logout").text-decoration-none
          btn.btn.btn-success.btn-block.btn-lg.mt-5 Logout
        a(href="/logout").text-decoration-none
          btn.btn.btn-light.btn-block.mt-2 Edit
      .col-md-9
        .container.p-0
          .thread-title.font-weight-bold.avenir #{name}
          .avenir
            span.lead.text-secondary #{currentName}
            span.lead.font-italic.ml-4 Joined 3-4-2019
          #profileWidget

  
