extends layout

block content 
  .container
    .row.bg-light-purp.mx-5.rounded.py-5.my-5
      .col-md-4
        btn.btn.btn-warning.btn-block.btn-lg.thread Browse Threads
        btn.btn.btn-warning.btn-block.btn-lg.thread Create A Thread
        btn.btn.btn-warning.btn-block.btn-lg.thread Your Contributions
        hr.bg-dark.my-5
        a(href="/logout")
          btn.btn.btn-dark.btn-block.btn-lg Logout
      .col-md-6
        h1 Profile
        h1 #{currentUserName}
        h1.lead Total Contributions: #{score}

  
