extends layout

block content
  .container
    .row
      .col-md-3
      .col-md-6.p-5.my-4.bg-light-purp.login-field.rounded
        h1.mb-4.text-center.forms.font-weight-bold Sign Up
        //register form
        form(method='POST', action="/register")
          .form-group
            label.inp(for='username')
              input#username(type='text', placeholder=' ', name='username')
              span.label Username
              span.border 
          .form-group
            label.inp(for='email')
              input#email(type='email', placeholder=' ', name='email')
              span.label Email
              span.border 
          .form-group
            label.inp(for='pw')
              input#pw(type='password' placeholder=' ', name='password')
              span.label Password
              span.border 
          .form-group
            label.inp(for='pw2')
              input#pw2(type='password' placeholder=" ", name='confirmPassword')
              span.label Confirm Password
              span.border 
          button.btn.btn-dark.btn-lg.btn-block.p-2.mt-5(type='submit') Sign up
      .col-md-3
