extends layout

block content
  .container
    .row
      .col-md-1
      .col-md-10.mt-5.p-5
        .jumbotron.bg-light-purp.text-center
          i.fas.fa-angry.fa-10x
          .display-1.mb-5.mt-3.font-weight-bold 404
          .display-4 Sorry, that thread is currently in use by another user!
          .display-4 Check back in #{timeLeft} seconds.
