extends layout

block content
  .container
    .row
      .col-md-1
      .col-md-10.mt-5.p-5
        .jumbotron.bg-light-purp.text-center
          i.fas.fa-angry.fa-10x
          .display-1.mb-5.mt-3.font-weight-bold 404
          .display-4 Sorry, you've attempted to access too many threads lately!
          .display-4 You can attempt to edit another thread in #{timeLeft} seconds.
