.text-dark:hover {
  color: #aaaaaa !important;
}

.bg-purp {
  background-color: #8866F4;
}

.body1 {
  background-image: url("../res/swirl.png");
}

.bg-light-purp {
  background-color: #D9D0F6;
}

.bg-very-light-purp {
  background-color: #B5A0F7;
}

.bg-light-blue {
  background-color: #9FB9F6;
}

.handwritten {
  font-family: 'Patrick Hand SC', cursive;
}

.text-formal {
  font-family: 'Patrick Hand SC', cursive;
  font-family: 'Nunito', sans-serif;
}

.big-text {
  font-size: 100px;
}

.bg-yellow {
  background-color: #FFB219;
}

.quote {
  font-size: 15px;
}

.avenir {
  font-family: Avenir;
}

.orange {
  color: #8866F4;
}

.profile-pic {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.newThreadInput {
  background-color: white;
}

.i1{
  background-image: url("../res/avatar1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i2{
  background-image: url("../res/avatar2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i3{
  background-image: url("../res/avatar3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i4{
  background-image: url("../res/avatar4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i5{
  background-image: url("../res/avatar5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i6{
  background-image: url("../res/avatar6.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i7{
  background-image: url("../res/avatar7.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
}

.i8{
  background-image: url("../res/avatar8.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D0F6;
  border: 0;
  fill: #fff;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 480px;
}


.label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: black;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #223254;
  transform: scaleX(0);
  transform-origin: 0 10;
  transition: all 0.25s ease;
}

.input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

.input:hover {
  background: rgba(34,50,84,0.03);
}

.input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.input:focus {
  background: none;
  outline: none;
}
.input:focus + span {
  color: #223254;
  transform: translateY(-26px) scale(0.75);
}
.input:focus + span + .border {
  transform: scaleX(1);
}

.avatar {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.thread-title {
  font-size: 50px;
}

.footer {
  font-size: 13px;
  margin-top: 200px;
}

.x {
  min-height: 75vh;
}

.menu {
  border-radius: 0px 10px 0px 10px;
  background-color: #D9D0F6;
  height: 100%;
}

.menu-divider {
  border: 1px solid grey;
}

.thread {
  background-color: #F6F4FE;
  border-radius: 0px 10px 0px 10px;
  width: 100%;
  text-align: left;
}

.submission{
  width: 100%;
  text-align: left;
}

.pageButtons{
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}

.pageButtons:hover{

}

.threadStats {
  font-weight: bold;
}

.rulesText {
  font-size: 20px;
}

.page-buttons{
  margin: 0px;
}

.thread:hover {
  background-color: #FFFF19;
  border: 1px solid grey;
}

.profileContainer{
  min-height: 60vh;
  padding 10px;
}

.threadsList {
  border-radius: 0px 10px 0px 0px;
  background-color: #D9D0F6;
  font-family: Helvetica;
  padding: 10px;
  min-height: 75vh;
}

.profileListing{
  border: 1px solid black;

}

.footer {
  height: 60px;
  width: 100%;
}
